.Entete {
    position: sticky;
    background-color: #333333;
    color: #fff;
    align-items: center;
    text-align: center;

    ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 2em;
        
        .nomUtilisateur {
            margin-left: auto;
        }
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}